.navbar{
    position: fixed;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    color: white;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
    @keyframes fadein {
        from {clip-path: polygon(50% 50%, 100% 0, 49% 51%, 49% 50%, 0 100%, 49% 50%, 50% 50%);}
        to {clip-path: polygon(49% 0, 100% 0, 100% 60%, 100% 100%, 0 100%, 0 55%, 0 0);}
    }
    @keyframes fadeout {
        from {clip-path: polygon(49% 0, 100% 0, 100% 60%, 100% 100%, 0 100%, 0 55%, 0 0);}
        to {clip-path: polygon(50% 50%, 100% 0, 49% 51%, 49% 50%, 0 100%, 49% 50%, 50% 50%);}
    }
    .navbar__left{
        display: flex;
        color: white;
        text-align: center;
        align-items: center;
        img{
            width: 100px;
            height: 100%;
            margin-right: 20px;
            margin-left: 20px;
            cursor: pointer;
        }
        .navbar__left--btn{
            color: white;
            text-decoration: none;
            font-weight: 700;
            font-size: 13px;
            padding: 5px 16px;
            align-items: center;
            justify-content: center;
            text-align: center;
            position: relative;
            text-transform: uppercase;
            transition: all .5s linear;
            letter-spacing: .08em;
            font-family: "FF Mark W05",Arial,sans-serif;
            &:hover{
                background-color: rgba(128,128,128,0.3);
                border-radius: 8px;
                &::after {
                    position: absolute;
                    left: 0px;
                    content: '';
                    height: 40px;
                    width: 100%;
                    border-bottom: solid 4px #019fb6;
                    border-bottom-left-radius: 2.5%;
                    border-bottom-right-radius: 2.5%;
                    transition: all 0.5s ease-in-out;
                    opacity: 0;
                  }
                  
                  &:hover:after {
                    opacity: 1;
                  }
            }
        }
    }

    .navbar__right{
            color: white;
            text-decoration: none;
            font-weight: 600;
            font-size: 13px;
            padding: 5px 16px;
            justify-content: center;
            text-align: center;
            position: relative;
            text-transform: uppercase;
            font-family: "FFMark", sans-serif;
            align-items: center;
            display: flex;
            .music__controls{
                position: absolute;
                height: 50px;
                top: 75px;
                left: -100px;
                z-index: 999;
                background-color: var(--secondary-color);
                padding: 10px 10px;
                border-radius: 10px;
                display: flex;
                flex-direction: row;
                align-items: center;

                
            }
            .navbar__right--btn{
                margin: 5px 10px;
                text-align: center;
                align-items: center;
                padding: 8px 16px;
                border-radius: 6.4px;
                cursor: pointer;
                &.language{
                    &:hover{
                        background-color: rgba(128,128,128,0.3);
                    }
                }
                &.signin{
                    color: white;
                    text-decoration: none;
                    font-weight: 600;
                    font-size: 13px;
                    background-color: rgba(128,128,128,0.3);
                    &:hover{
                        background-color: rgba(128,128,128,0.4);
                    }
                }

                &.play{
                    color: rgb(0, 0, 0);
                    text-decoration: none;
                    font-weight: 600;
                    font-size: 13px;
                    background-color: var(--tertiary-color);
                    &:hover{
                        background-color: rgba(11, 198, 227,0.8);
                    }
                }
            }

            .menu{
                display: none;
                
            }

            
    }

    @media all and (max-width: 1024px) {
        .navbar__left{
            .navbar__left--btn{
                display: none;
            }
        }

        .navbar__right{
            .music__controls{
                position: absolute;
                height: 50px;
                top: 75px;
                left: -364%;
                z-index: 999;
                background-color: var(--secondary-color);
                padding: 10px 10px;
                border-radius: 10px;
                display: flex;
                flex-direction: row;
                align-items: center;     
            }
            .navbar__right--btn{
                &.signin{
                    display: none;
                }
                &.play{
                    display: none;
                }
            }
            .menu{
                display: block;
            }
            .menu__open{
                position: fixed;
                display: flex;
                flex-direction: column;
                top: 0;
                right: 0;
                width: 350px;
                text-align: center;
                align-items: center;
                justify-content: center;
                transition: all 1s ease-in;
                animation: fadein;
                animation-duration: 0.3s;
                .menu__open--header{
                    background-color: #1f1f1f;
                    height: 60px;
                    width: 350px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    img{
                        width: 100px;
                        margin: 10px 20px;
                        cursor: pointer;
                    }
                    .close{
                        margin-right: 20px;
                        padding: 5px;
                        font-size: 30px;
                        border-radius: 10px;
                        background-color: rgba(128,128,128,0.3);
                        &:hover{
                            background-color: rgba(128,128,128,0.4);                     
                        }
                    }
                }

                .menu__open--container{
                    display: flex;
                    flex-direction: column;
                    background-color: #1f1f1f;
                    color: white;
                    top: 0;
                    right: 0;
                    width: 350px;
                    
                    .navbar__right--btnew{
                        
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 1.5;
                        letter-spacing: .08em;
                        height: 48px;
                        padding: 12px 10px;
                        margin: 8px 16px;
                        text-transform: uppercase;
                        transition: color 1s cubic-bezier(0.06, 0.81, 0, 0.98);
                        cursor: pointer;
                        color: white;
                        text-decoration: none;
                        &:hover{
                            color: rgba(128,128,128,0.3);
                        }
                    }
                }

                .menu__open--footer{
                    background-color:#1f1f1f;
                    width: 350px;
                    height: 100%;
                    padding: 20px 0;
                    display: flex;
                    flex-direction: column;
                    .navbar__right--btnew{
                        margin: 5px 10px;
                        text-align: center;
                        align-items: center;
                        padding: 15px 16px;
                        border-radius: 6.4px;
                        cursor: pointer;
                        font-size: 50px;
                        &.language{
                            &:hover{
                                background-color: rgba(128,128,128,0.3);
                            }
                        }
                        &.signin{
                            color: white;
                            text-decoration: none;
                            font-weight: 600;
                            font-size: 13px;
                            background-color: rgba(128,128,128,0.3);
                            &:hover{
                                background-color: rgba(128,128,128,0.4);
                            }
                        }
        
                        &.play{
                            color: rgb(0, 0, 0);
                            text-decoration: none;
                            font-weight: 600;
                            font-size: 13px;
                            background-color: var(--tertiary-color);
                            &:hover{
                                background-color: rgba(11, 198, 227,0.8);
                            }
                        }
                    }
                }
            }
        }
    }
}