*{ 
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "BeaufortforLOL-Bold",'Roboto', sans-serif;
 }

:root{
  --main-color : rgb(208, 168, 92);
  --secondary-color : #07121A;
  --tertiary-color : rgb(11, 198, 227);
}